body {
  background-image: linear-gradient(#111212, #575B8F, #7850C0, #111212);
  background-attachment: fixed;
  background-repeat: no-repeat;
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #FFFFFF;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #FFFFFF;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color:#FFFFF;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.animation {
  font-family: 'Rubik Glitch', cursive;
  font-size:150px;
  text-align: center;
  text-shadow: 3px 4px 5px #05F6ED;
}

.opacity {
  opacity: 0.5;
}

.opacity-2 {
  opacity: 0.2;
}

.orange {
  font-family: 'Dongle', sans-serif;
  font-size: 40px;
  border: 5px white dashed;
  margin: 30px;
}

.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hello {
  position: absolute;
  top: 55%;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hola {
  opacity: 0.6;
}